
p{

    font-family: Papyrus;
}

a{
    font-family: Papyrus;
}

li{
    font-family: Papyrus;
}

label{
    font-family: Papyrus;
}

table{
    font-family: Papyrus;
}

tr{
    font-family: Papyrus;
}

td{
    font-family: Papyrus;
}

th{
    font-family: Papyrus;
}

b{
    font-family: Papyrus;
}

h1{
    font-family: Papyrus;
}

h2{
    font-family: Papyrus;
}

h3{
    font-family: Papyrus;
}

h4{
    font-family: Papyrus;
}

h5{
    font-family: Papyrus;
}

h6{
    font-family: Papyrus;
}

button{
    font-family: Papyrus;
}

.myFont{
    font-family: Papyrus;
}